html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.wrapper {
  width: 1170px;
  margin: 0 auto 168px;
}
.mount-bg {
  width: 100%;
  z-index: -1;
}
.header {
  position: relative;
  width: 100%;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0 222px;
}
.navigation {
  float: right;
}
.menu-list {
  float: left;
  list-style: none;
}
.menu-list:not(:last-child) {
  margin-right: 28px;
}
.menu-list-link {
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 0.2em;
  font-family: 'Myriad Pro', sans-serif;
  color: rgb(40, 40, 40);
  text-align: center;
}
.main-title {
  width: 1042px;
  font-size: 60px;
  font-weight: 400;
  font-family: 'Myriad Pro', sans-serif;
  letter-spacing: 0.2em;
  color: rgb(40, 40, 40);
  line-height: 1.25;
  text-align: center;
  margin: 0 auto 44px;
}
.circle-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #323969;
  margin: 0 auto;
  background-image: url(../img/icon/polygon.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 40px;
  cursor: pointer;
}
.try-now-button {
  display: block;
  width: 190px;
  height: 50px;
  background-color: #ff6d6d;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Myriad Pro', sans-serif;
  letter-spacing: 0.2em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 16px;
}
.video-text {
  font-size: 14px;
  font-family: 'Myriad Pro', sans-serif;
  color: rgba(40, 40, 40, 0.6);
  line-height: 5.357;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0;
}
.new-design {
  position: relative;
  width: 100%;
}
.design-wrapper {
  width: 1140px;
  margin: 0 auto 152px;
}
.title {
  font-size: 16px;
  font-family: 'Myriad Pro', sans-serif;
  color: rgb(255, 109, 109);
  text-align: left;
  margin-bottom: 12px;
}
.new-design-text-wrapper {
  padding-top: 182px;
  width: 585px;
}
.new-design-text {
  font-size: 16px;
  font-family: 'Myriad Pro', sans-serif;
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
}
.new-design-text:not(:last-child) {
  margin-bottom: 30px;
}
.bg-quad {
  position: absolute;
  right: 0;
  top: 0;
  width: 568px;
  height: 724px;
  background-image: url(../img/section2_img.jpg);
  background-repeat: no-repeat;
}
.features {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/section3_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 180px;
}
.design-title {
  font-size: 22px;
  font-family: 'Exo', sans-serif;
  color: rgb(40, 40, 40);
  line-height: 2.271;
  text-align: center;
}
.design-text {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
  text-align: center;
}
.features .title {
  text-align: center;
  padding-top: 120px;
  margin: 0;
}
.second-title {
  font-size: 40px;
  font-family: 'Myriad Pro', sans-serif;
  color: rgb(40, 40, 40);
  line-height: 1.25;
  text-align: left;
  margin-bottom: 42px;
}
.features .second-title {
  text-align: center;
  margin-bottom: 88px;
}
.features-list {
  width: 1140px;
  display: block;
  margin: 0 auto;
}
.features-item {
  width: 360px;
  list-style: none;
  float: left;
  padding-top: 80px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-name {
  font-size: 22px;
  font-family: 'Myriad Pro', sans-serif;
  color: rgb(40, 40, 40);
  line-height: 2.271;
  text-align: center;
}
.features-text {
  font-size: 16px;
  font-family: 'Myriad Pro', sans-serif;
  color: rgba(40, 40, 40, 0.659);
  line-height: 1.625;
  text-align: center;
}
.features-item.picture {
  background-image: url(../img/icon/picture.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.features-item.airplane {
  background-image: url(../img/icon/picture.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.features-item.bulb {
  background-image: url(../img/icon/picture.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.resposive {
  position: relative;
  width: 100%;
  min-height: 550px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.rectangle {
  position: absolute;
  background-color: rgb(255, 109, 109);
  opacity: 0.8;
  position: absolute;
  transform: rotate(132.1deg);
  left: -58px;
  top: 0;
  width: 500px;
  height: 880px;
  z-index: -1;
}
.macbook {
  position: absolute;
  top: 50%;
  left: 74px;
  transform: translateY(-50%);
}
.resposive-text {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  width: 510px;
}
.features-text {
  text-align: left;
}
.hidden {
  width: 1px;
  height: 370px;
}
.fouders {
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-image: url(../img/founder_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 100px 0;
}
.founder-rectangele {
  margin: 0 auto;
  width: 78px;
  height: 76px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(29, 30, 36);
  background-color: rgb(78, 78, 94);
}
.fouder-title {
  font-size: 22px;
  font-family: 'Exo', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 2.271;
  text-align: center;
}
.founder-staring {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: rgb(255, 109, 109);
  line-height: 2.125;
  text-align: center;
}
.fouder-text {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: rgba(255, 255, 255, 0.659);
  font-style: italic;
  line-height: 1.625;
  text-align: center;
}
.founder-list {
  width: 1140px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.founder-item {
  list-style: none;
  width: 360px;
  float: right;
  text-align: center;
}
.icons-item-one {
  width: 130px;
  height: 65px;
  background-image: url(../img/partner-logo/partner-logo-1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icons-item-two {
  width: 110px;
  height: 56px;
  background-image: url(../img/partner-logo/partner-logo-4.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icons-item-three {
  width: 98px;
  height: 85px;
  background-image: url(../img/partner-logo/partner-logo-5.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icons-item-four {
  width: 95px;
  height: 61px;
  background-image: url(../img/partner-logo/partner-logo-7.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icons-item-five {
  width: 120px;
  height: 54px;
  background-image: url(../img/partner-logo/partner-logo-8.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icons-list {
  float: left;
  list-style: none;
}
.icons-list:not(:last-of-type) {
  margin-right: 86px;
}
.icons {
  width: 976px;
  margin: 0 auto;
}
.aweson {
  min-height: 754px;
  background-image: url(../img/window.png), linear-gradient(#f6f5f3, #f6f5f3);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  padding: 90px 0 0;
}
.aweson .title {
  text-align: center;
}
.aweson .second-title {
  text-align: center;
}
.form {
  padding: 80px 0 80px;
  background-color: #323969;
}

.form-wrapper {
  width: 1140px;
  margin: 0 auto;
}
.button-tryit {
  border-width: 1px;
  border-color: rgb(255, 109, 109);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(255, 109, 109);
  box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
  width: 256px;
  height: 48px;
}
.float-form {
  float: left;
}
.input-form {
  border-width: 1px;
  border-color: rgb(255, 255, 255, 0.52);
  border-style: solid;
  border-radius: 3px;
  background-color: rgba(246, 245, 243, 0.2);
  width: 261px;
  height: 47px;
}
.float-form:not(:last-child) {
  margin: 0 30px 100px 0;
  padding-left: 28px;
}
.float-form::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: rgb(246, 245, 243, 0.52);
  text-align: left;
}
.button-tryit {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  color: rgb(246, 245, 243);
  text-align: center;
  cursor: pointer;
}
.term-text {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: rgba(246, 245, 243, 0.6);
  text-align: center;
}
.term-link {
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: rgba(246, 245, 243, 0.6);
}
.form-wrapper .second-title {
  font-size: 40px;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 1.25;
  text-align: center;
}
.form-wrapper .title {
  font-family: 'Exo', sans-serif;
  text-align: center;
  margin-bottom: 16px;
}
